.Abox{
    width: 1200px;
    height: 700px;
    border:1px solid rgb(216, 213, 213);
    margin-right: 100px;
    border-radius: 0.4em;
    background-color: white;
}

.AContent {
    height: 900px;
    background-color: rgb(248, 248, 248);
}

.Atable{
    width: 100%;
    min-width: 1400px;
    height: 100%;
    padding: 100px 0 0 400px;
   
}

.Abox div{
    float: left;
}
.lContent{
    height: 100%;
    width: 300px;
    border-right: 1px solid rgb(216, 213, 213);
}

.rContent{
    height: 100%;
    width: 890px;
}

li{
    list-style: none;
    height: 80px;
    transition:0.2s all;
}


li.put{
    background-color: rgba(27, 21, 21, 0.034);
    border-left: 2px solid rgb(92, 160, 223);
}

li:hover{
    background-color: rgba(27, 21, 21, 0.034);
}
.Ma{
    text-decoration: none !important;
    color: rgb(124, 123, 123);
    margin-left: 40px;
    display: inline-block;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 350;

}

.Ma:hover{
    text-decoration: none !important;
    color: black;
}

.mainbtn{
    width: 30px;
    height: 30px;
    margin-right: 15px;
}


.lmenu{
    height: 500px;
    width: 300px;
}

.login_input_container{
    width: 100%;
    height: 400px;
    margin-top: 50px;
}

.login_input{
    width: 350px;
    height: 39px;
    margin-left: 30px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 0.15em;
}

.Pwd{
    width:100%;
    font-weight: 400;
    color: rgb(107, 105, 105); 
    font-size: 23px;
}

.Origin{
    margin: 100px 20px 40px 198px;
}

.New{
    margin: 30px 20px 0 175px;
}

.Confirm{
    margin: -1px 20px 10px 196px;
}

.login_btn_container{
    width: 100%;
    text-align: right;
}

.login_btn{
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 0.4em;
    cursor: pointer;
    margin: 30px 50px 0 0 ;
    color: rgb(255, 255, 255);
    font-weight: 700;
    background-color: rgb(50, 158, 230);
    outline: none;
    transition: 0.3s;
}

.login_btn:hover{
    background-color: rgb(92, 190, 255);
    color: rgb(255, 255, 255);
}

/* .alert-success{
    width: 200px;
} */

/* .alert-danger{
    width: 500px;
    text-align: center;
    margin-left:150px;
}  */

.Al{
    width:350px;
    margin-left:366px;
    height: 36px;
    border-radius: 0.4em;
    color: rgb(107, 105, 105); 
    font-size: 20px;
    font-weight: 400;
}