        *{
            font-family: 'Noto Sans KR', sans-serif;
        }

        /* 본문 */
        .scContent {
            background-color: rgb(248, 248, 248);
        }

        /* 위로가기 버튼 */
        .upBtn{
            position: fixed;
            margin: 690px 0px 0px 1612px;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            background: rgba(201, 201, 201, 0.514);
            cursor: pointer;
        }

        .upBtn img{
            width: 25px;
            height: 25px;
            margin: 7px 8.5px;
        }

        /* 글쓰기 버튼 */
        .postBtn{
            position: fixed;
            margin: 750px 0px 0px 1600px;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            background: white;
        }

        .postBtn img{
            width: 70px;
            height: 70px;
        }

        /* 체형별 선택 */
        .choice{
            position: absolute;
            width: 100px;
            height: 30px;
            margin: 109px 396px 0px;
            border-radius: 8px 8px;
            border:1px solid rgb(216, 213, 213);
            background-color: white;
            float: right;
            cursor: pointer;
        }

        .pchoice{
            position: absolute;
            width: 100px;
            height: 30px;
            text-align: center;
        }

        .cSelect{
            width: 500px;
        }

        .choice1{
            position: absolute;
            margin: 10px 300px;
        }

        .choiceBtn{
            font-size: 13px;
            position: relative;
            width: 83px;
            height: 25px;
            text-align: center;
            border-radius: 5px 5px;
            cursor: pointer;
            color: #000000;
            background-color: #f5f5f5da;
            border: #acacac solid 1px;
            padding: 2px;
            transition: all 0.1s ease;
            margin: -24px 325px;
        }

        .choiceBtn:hover {
            color: #ffffff;
            background-color: #a3a3a3c9;
            border: #a3a3a3c9 solid 1px;
            animation: 0.1s step-end 0 2;
            transition: all 0.2s ease 0.2s;
            cursor: pointer;
        }

        .close{
            position: absolute;
            float: right;
            width: 15px;
            height: 15px;
            margin: 6px 760px;
            border-radius: 50%;
        }

        .close img{
            position: absolute;
            width: 20px;
            height: 20px;
            margin: -4px;
        }

        /* 게시물 테이블 */
        .ctable{
            width: 1920px;
            min-width: 1400px;
            height: 100%;
            padding: 170px 386px;
        }

        .content{
            position: relative;
            width: 350px;
            height: 350px;
            background-color: rgb(160, 160, 160);
            margin: 12px;
        }

        .cImg{
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        /* =========== 컨텐츠 마우스오버 했을 때 =========== */
        .chover{
            position: absolute;
            width: 350px;
            height: 350px;
        }

        .chContnet{
            position: static;
            background: rgba(0, 0, 0, 0.404);
            width: 350px;
            height: 150px;
            margin-top: 200px;
        }

        /* 유저정보 */
        .user{
            width: 100%;
            height: 50px;
        }

        .userImg{
            width: 50px;
            height: 50px;
            float: left;
            border: 1px solid rgb(190, 190, 190);
            border-radius: 50%;
            background: gray;
            margin: 10px;
            overflow: hidden;
        }

        .userImg img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: -1px;
        }

        .userId{
            float: left;
            color: white;
            margin: 19px 2px;
            font-weight: 400;
            font-size: 19px;
        }

        /* 게시물 내용 */
        .con{
            width: 100%;
            height: 50px;
        }

        .userCon{
            height: 50px;
            font-weight: 300;
            margin: 0px 10px;
        }

        .userCon p{
            width: 320px;
            height: 50px;
            font-size: 17px;
            text-overflow: ellipsis;
            color: white;
            display: block;
            overflow: hidden;
            white-space: nowrap;
        }

        /* 게시물 버튼 */
        .cBtn{
            width: 100%;
            height: 50px;
        }

        .cHeart{
            width: 116px;
            height: 100%;
            float: left;
            cursor:pointer;
        }

        .cHeart img{
            width: 24px;
            height: 24px;
            margin: 13px 46px;
        }

        .cComment{
            width: 118px;
            height: 100%;
            float: left;
            cursor:pointer; 
        }

        .cbox{
            position: absolute;
            width: 118px;
            height: 30px;
            margin: 10px 0px;
            float: left;
            border-left: 1px solid white;
            border-right: 1px solid white;
        }

        .cComment img{
            width: 29px;
            height: 27px;
            margin: 12px 45px;
        }

        .cEtc{
            width: 116px;
            height: 100%;
            float: left;
            cursor:pointer; 
        }

        .cEtc img{
            width: 22px;
            height: 20px;
            margin: 15px 48px;
        }

























