<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<resultMap type="Board" id="boardResultSet">
		<id property="b_num" column="B_NUM"/>
		<result property="b_user_num" column="B_USER_NUM"/>
		<result property="b_content" column="B_CONTENT"/>
		<result property="b_status" column="B_STATUS"/>
		<result property="b_date" column="B_DATE"/>
		<result property="image1" column="IMAGE1"/>
		<result property="image2" column="IMAGE2"/>
		<result property="image3" column="IMAGE3"/>
		<result property="image4" column="IMAGE4"/>
		<result property="image5" column="IMAGE5"/>
		<result property="b_top" column="B_TOP"/>
		<result property="b_bottom" column="B_BOTTOM"/>
		<result property="b_shoes" column="B_SHOES"/>
		<result property="b_acc" column="B_ACC"/>
		<result property="b_etc" column="B_ETC"/>
		<result property="b_user_height" column="HEIGHT"/>
		<result property="b_user_weight" column="WEIGHT"/>
		<result property="b_profile_img" column="RENAME_PROFILE_IMG"/>
		<result property="b_user_id" column="ID"/>
		<result property="b_name" column="UNAME"/>
		<result property="b_hash" column="HASHTAG"/>
		<result property="h_bnum" column="H_BNUM"/>
		<result property="h_unum" column="H_UNUM"/>
		<result property="u_hash" column="USERTAG"/>
		<result property="t_tagUnum" column="T_UNUM"/>
		<result property="t_bnum" column="T_BNUM"/>
		
		
		<!-- <result property="b_hashtag" column="B_HASHTAG"/>
		<result property="b_images" column="B_IMAGES"/>
		<result property="b_top" column="B_TOP"/>
		<result property="b_bottom" column="B_BOTTOM"/>
		<result property="b_shoes" column="B_SHOES"/>
		<result property="b_acc" column="B_ACC"/>
		<result property="b_etc" column="B_ETC"/>
		<result property="originalFileName" column="ORIGINALFILENAME"/>
		<result property="renameFileName" column="RENAMEFILENAME"/> -->
	</resultMap>
	
	<resultMap type="Comment" id="CommentResultSet">
		<id property="c_no" column="C_NO"/>
		<result property="c_bno" column="C_BNO"/>
		<result property="c_content" column="C_CONTENT"/>
		<result property="c_unum" column="C_UNUM"/>
		<result property="c_recno" column="C_RECNO"/>
		<result property="c_level" column="C_LEVEL"/>
		<result property="c_utag" column="C_UTAG"/>
		<result property="c_date" column="C_DATE"/>
		<result property="uname" column="UNAME"/>
		<result property="profile" column="RENAME_PROFILE_IMG"/>
	</resultMap>
	
	<insert id="insertStylePost" parameterType="Board">
		INSERT
		INTO LML_BOARD
		VALUES(BOARD_SEQ.NEXTVAL, #{b_user_num}, #{b_content}, DEFAULT, SYSDATE, #{image1}, #{image2}, #{image3}, #{image4}, #{image5}, #{b_top}, #{b_bottom}, #{b_shoes}, #{b_acc}, #{b_etc})

	</insert>
	
	<insert id="testMultipart" parameterType="Board">
		INSERT INTO LML_BOARD
		VALUES(BOARD_SEQ.NEXTVAL, 1, '테스트스트', DEFAULT, SYSDATE, #{image1}, #{image2}, #{image3}, #{image4}, #{image5})
	</insert>
	
	<select id="selectList" resultMap="boardResultSet">
		SELECT *
		FROM LML_BOARD
		JOIN LML_MEM ON (B_USER_NUM = USER_NUM)
		ORDER BY B_NUM DESC
	</select>
	
	<select id="selectOne" resultMap="boardResultSet">
		SELECT *
		FROM LML_BOARD
		JOIN LML_MEM ON (B_USER_NUM = USER_NUM)
		WHERE B_NUM = #{bnum}
	</select>
	
	<insert id="insertStyleHash" parameterType="Board">
		INSERT INTO LML_HASH
		VALUES (#{b_hash}, #{b_num})
	</insert>
	
	<select id="getbnum" resultType="_int">
		SELECT BOARD_SEQ.CURRVAL AS B_NUM FROM DUAL
	</select>
	
	<select id="selectHash" parameterType="_int"  resultType="string">
		SELECT HASHTAG 
		FROM LML_HASH 
		WHERE H_BNUM = #{bnum}
		ORDER BY HASHTAG DESC
	</select>
	
	<select id="getTagUser" parameterType="_int" resultType="string">
	SELECT UNAME
		FROM LML_USERTAG a
        JOIN LML_MEM b ON A.T_UNUM= B.USER_NUM
		WHERE T_BNUM = #{bnum}
        ORDER BY T_UNUM DESC 
	</select>
	
	
	<select id="selectComment" resultMap="CommentResultSet">
		SELECT C_NO, C_BNO, C_CONTENT, C_UNUM, C_RECNO, C_LEVEL, C_DATE, UNAME, RENAME_PROFILE_IMG
		FROM LML_COMMENT
		JOIN LML_MEM ON (C_UNUM = USER_NUM)
		WHERE C_BNO = #{bnum}
		ORDER BY C_NO
	</select>
	
	<insert id="addComment" parameterType="Comment">
		INSERT INTO LML_COMMENT 
		VALUES (LML_COMM_SEQ.NEXTVAL, #{c_bno}, #{c_content}, #{c_unum}, NULL, DEFAULT, NULL, SYSDATE)
	</insert>
	
	<insert id="addHeart" parameterType="Board">
		INSERT INTO LML_HEART 
		VALUES (#{h_bnum}, #{h_unum})
	</insert>
	
	<select id="boardHeartList" resultType="_int">
		SELECT * 
		FROM LML_HEART 
		WHERE H_UNUM = #{unum}
	</select>
	
	<insert id="deleteHeart" parameterType="Board">
		DELETE FROM LML_HEART
		WHERE H_BNUM = #{h_bnum}
		AND H_UNUM = #{h_unum}
	</insert>
	
	<select id="getDetailHeart" resultMap="boardResultSet">
		SELECT H_BNUM, H_UNUM, UNAME, RENAME_PROFILE_IMG
		FROM LML_HEART
		JOIN LML_MEM ON(H_UNUM = USER_NUM)
		WHERE H_BNUM = #{bnum}
	</select>
	
	<update id="deleteComment" parameterType="_int"> 
		DELETE FROM LML_COMMENT
		WHERE C_NO = #{cno}
	</update>
	
	<select id="getTagUserNum" parameterType="String" resultType="_int">
		SELECT USER_NUM
		FROM LML_MEM
		WHERE UNAME = #{tagUser}
		AND DEL_FLAG = 'N'
	</select>
	
	<insert id="insertTagUser" parameterType="Board">
		INSERT INTO LML_USERTAG
		VALUES (#{t_tagUnum}, #{t_bnum})
	</insert>
	<select id="likePostSelectList" resultMap="boardResultSet">
		SELECT *
           FROM LML_BOARD A1
               JOIN (SELECT A.B_NUM ,COUNT(A.B_NUM) AS CNT
                   FROM LML_BOARD A
                       JOIN LML_HEART B
                           ON (B_NUM = H_BNUM)
                     	   GROUP BY B_NUM) B1
                   ON A1.B_NUM = B1.B_NUM
                   JOIN LML_MEM
                       ON (B_USER_NUM = USER_NUM)
                       ORDER BY CNT DESC
	</select>
	
	<select id="selectUpdateBoard" parameterType="_int" resultMap="boardResultSet">
      SELECT * 
      FROM LML_BOARD 
      WHERE B_NUM = #{bnum}
   </select>
   
   <select id="selectUpdateBoardTag" parameterType="_int" resultMap="boardResultSet">
      	SELECT * 
		FROM LML_HASH
		WHERE H_BNUM = #{bnum}
   </select>
   
   <select id="selectUpdateBoardUserTag" parameterType="_int" resultMap="boardResultSet">
      	SELECT * 
		FROM LML_USERTAG
		JOIN LML_MEM ON (T_UNUM = USER_NUM)
		WHERE T_BNUM = #{bnum}
   </select>
   
   <insert id="updateSyltePost" parameterType="Board">
      UPDATE LML_BOARD
      SET B_CONTENT=#{b_content},
     	 IMAGE1=#{image1},
         IMAGE2=#{image2},
         IMAGE3=#{image3},
         IMAGE4=#{image4},
         IMAGE5=#{image5},
         B_TOP=#{b_top},
         B_BOTTOM=#{b_bottom},
         B_SHOES=#{b_shoes},
         B_ACC=#{b_acc},
         B_ETC=#{b_etc}
      WHERE B_NUM=#{b_num}
   </insert>
   
   <!-- IMAGE1=#{image1},
         IMAGE2=#{image2},
         IMAGE3=#{image3},
         IMAGE4=#{image4},
         IMAGE5=#{image5}, -->
   
   <update id="deleteStyleHash" parameterType="_int"> 
      DELETE FROM LML_HASH
      WHERE H_BNUM = #{getbnum}
   </update>
   
   <update id="deleteStyleUserTag" parameterType="_int"> 
      DELETE FROM LML_USERTAG
      WHERE T_BNUM = #{getbnum}
   </update>
</mapper>












