<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<resultMap type="Member" id="memberResultSet">
		<id property="id" column="ID"/>
		<result property="mail" column="MAIL"/>
		<result property="upwd" column="UPWD"/>
		<result property="m_phone" column="M_PHONE"/>
		<result property="gender" column="GENDER"/>
		<result property="height" column="HEIGHT"/>
		<result property="weight" column="WEIGHT"/>
		<result property="uname" column="UNAME"/>
		<result property="intro" column="INTRO"/>
		<result property="profile_img" column="PROFILE_IMG"/>
		<result property="user_num" column="USER_NUM"/>
		
	</resultMap>
	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">
		 
		SELECT * 
		FROM LML_MEM
		WHERE ID=#{id}
		AND UPWD=#{upwd}

	</select>
	
	
	<insert id="insertMember" parameterType="Member">
	INSERT INTO LML_MEM
		VALUES(#{id},#{mail},#{upwd},#{m_phone},#{height},#{weight},#{gender},#{uname},#{intro},DEFAULT,LML_MEM_SEQ.NEXTVAL)
	
	</insert>
	<select id="idCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM LML_MEM
		WHERE ID=#{id}
	</select>
	
	
	
</mapper>












