<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<resultMap type="Member" id="memberResultSet">
		<id property="id" column="ID"/>
		<result property="mail" column="MAIL"/>
		<result property="upwd" column="UPWD"/>
		<result property="m_phone" column="M_PHONE"/>
		<result property="gender" column="GENDER"/>
		<result property="height" column="HEIGHT"/>
		<result property="weight" column="WEIGHT"/>
		<result property="uname" column="UNAME"/>
		<result property="intro" column="INTRO"/>
		<result property="profile_img" column="PROFILE_IMG"/>
		<result property="user_num" column="USER_NUM"/>
		<result property="from_follow" column="FROM_FOLLOW"/>
		<result property="to_follow" column="TO_FOLLOW"/>
		<result property="to_follower" column="TO_FOLLOWER"/>
		<result property="from_follower" column="FROM_FOLLOWER"/>
		<result property="f_block" column="F_BLOCK"/>
		<result property="del_flag" column="DEL_FLAG"/>
	</resultMap>
	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">
		 
		SELECT * 
		FROM LML_MEM
		WHERE ID=#{id}
		AND UPWD=#{upwd}
		AND DEL_FLAG='N'

	</select>
	
	
	<insert id="insertMember" parameterType="Member">
	INSERT INTO LML_MEM
		VALUES(#{id},#{mail},#{upwd},#{m_phone},#{height},#{weight},#{gender},#{uname},#{intro},DEFAULT,LML_MEM_SEQ.NEXTVAL,DEFAULT)
	
	</insert>
	<select id="idCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM LML_MEM
		WHERE ID=#{id}
		AND DEL_FLAG='N'
	</select>
	
	<select id="nameCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM LML_MEM
		WHERE UNAME=#{uname}
		AND DEL_FLAG='N'
	</select>
	
	<update id="memberUpdate" parameterType="Member" >
		UPDATE LML_MEM SET MAIL=#{mail} ,UNAME=#{uname},M_PHONE=#{m_phone},HEIGHT=#{height},WEIGHT=#{weight},GENDER=#{gender},INTRO=#{intro}
		WHERE ID=#{id}
		
	</update>
	<select id="pwdCheck" parameterType="Member" resultType="_int">
	SELECT COUNT(*)
	FROM LML_MEM 
	WHERE UPWD=#{upwd} AND ID=#{id}
	AND DEL_FLAG='N'
	</select>
	
	<update id="pwdChange" parameterType="Member">
	UPDATE LML_MEM SET UPWD=#{upwd} WHERE ID=#{id} 
	</update>
	
	<select id="selectFollowList" resultMap="memberResultSet">
		SELECT FROM_FOLLOW, TO_FOLLOW, F_BLOCK, ID, UNAME, PROFILE_IMG
		FROM FOLLOW_LIST
		JOIN LML_MEM ON (TO_FOLLOW = USER_NUM)
		WHERE FROM_FOLLOW = #{uNum}
		
	</select>
	
	<select id="selectFollowerList" resultMap="memberResultSet">
		SELECT TO_FOLLOWER, FROM_FOLLOWER, ID, UNAME, PROFILE_IMG
		FROM FOLLOW_LIST
		JOIN LML_MEM ON (FROM_FOLLOWER = USER_NUM)
		WHERE TO_FOLLOWER = #{uNum}
		
	</select>
	
	<select id="selectBlockList" resultMap="memberResultSet">
		SELECT FROM_FOLLOW, TO_FOLLOW, ID, UNAME, PROFILE_IMG
		FROM FOLLOW_LIST
		JOIN LML_MEM ON (TO_FOLLOW = USER_NUM)
		WHERE FROM_FOLLOW = #{uNum}
		AND F_BLOCK = 'Y'
	</select>
	
	<select id="countFollowList" resultType="_int">
		SELECT COUNT(*)
		FROM FOLLOW_LIST
		WHERE FROM_FOLLOW = #{uNum}
		AND F_BLOCK = 'N'
	</select>
	
	<select id="countFollowerList" resultType="_int">
		SELECT COUNT(*)
		FROM FOLLOW_LIST
		WHERE TO_FOLLOW = #{uNum}
	</select>
	
	<insert id="followBtn" parameterType="Member">
		INSERT INTO FOLLOW_LIST
		VALUES(#{from_follow},#{to_follow},#{to_follow},#{from_follow},DEFAULT)
	</insert>
	
	<select id="fselectUser" resultMap="memberResultSet">
		SELECT ID, UNAME, PROFILE_IMG
		FROM LML_MEM
		WHERE USER_NUM = #{uNum}
		AND DEL_FLAG='N'
	</select>
	
	<delete id="unfollowBtn" parameterType="Member">
		DELETE FROM FOLLOW_LIST 
		WHERE FROM_FOLLOW = #{from_follow} 
		AND TO_FOLLOW = #{to_follow}
	</delete>
	
	<!-- 1113은지 -->
	<select id="searchUserList1" parameterType="string" resultMap="memberResultSet">
		SELECT USER_NUM, ID, UNAME, PROFILE_IMG
		FROM LML_MEM
		WHERE ID LIKE LOWER('%' ||  #{keyword} || '%')
		OR UNAME LIKE LOWER('%' ||  #{keyword} || '%')
		AND DEL_FLAG='N'
	</select>
	
	<select id="searchUserCount" resultType="_int">
		SELECT COUNT(*)
		FROM LML_MEM
		WHERE ID LIKE LOWER('%' ||  #{keyword} || '%')
		OR UNAME LIKE LOWER('%' ||  #{keyword} || '%')
		AND DEL_FLAG='N'
	</select>
	<!-- 1113은지 -->
	
	<update id="deleteMember" parameterType="String">
		UPDATE LML_MEM SET DEL_FLAG='Y' WHERE ID=#{id}
	
	
	</update>
	
</mapper>












